site_name: PNQ
site_description: PNQ is a Python implementation like Language Integrated Query (LINQ).
site_url: https://github.com/sasano8/pnq/

theme:
  name: "material"
  language: "ja"

repo_name: sasano8/pnq
repo_url: https://github.com/sasano8/pnq
edit_uri: ""

nav:
  - はじめに: "index.md"
  - 入門: "quick_start.md"
  - インターフェース: "api.md"
  - クラス: "class.md"
  - 例外クラス: "exceptions.md"
  - 高度な使用方法: "advanced_usage.md"
  - 性能: "performance.md"
markdown_extensions:
  - admonition
  - codehilite:
      css_class: highlight
  - mkautodoc
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format

extra_css:
  - css/custom.css
  - https://unpkg.com/mermaid@8.0.0/dist/mermaid.css

extra_javascript:
  - https://unpkg.com/mermaid@8.0.0/dist/mermaid.min.js
  # - https://unpkg.com/browse/mermaid@8.8.0/dist/mermaid.min.js
