[tool.poetry]
name = "pnq"
version = "0.0.3"
description = ""
authors = ["sasano8 <y-sasahara@ys-method.com>"]
license = "MIT"
readme = "README.md"
# repository = "https://github.com/sasano8/asy"

[tool.poetry.dependencies]
python = "^3.8"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
flake8 = "^3.9.0"
mypy = "^0.812"
pytest = "^6.2.2"
pre-commit = "^2.12.0"
# sphinx = "^4.0.2"
# sphinx_rtd_theme = "^0.5.2"
# recommonmark = "^0.7.1"
isort = "^5.9.3"
mkdocs = "^1.2.2"
mkautodoc = "^0.1.0"
mkdocs-material = "^7.2.2"
pymdown-extensions = "^8.2"
Jinja2 = "^3.0.1"


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

 [tool.black]
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | pnq_template
)/
'''